tr {
  background-color: #EBCFB2;
  &.p3 {
    background-color: #5DAC97;
  }
  &.p2 {
    background-color: #AED5CB;
  }
  &.p1 {
    background-color: #E4F1EE;
  }
  &.p-1 {
    background-color: #F2E1CE;
  }
  &.p-2 {
    background-color: #F2E1CE;
  }
  &.p-1 {
    background-color: #FBF5EF;
  }
  &.p0 {
    background-color: #EFEFE6;
  }
}