:host {
  position: relative;
  display: block;
}
::ng-deep {
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.content-wrapper {
  padding: 0 12px;
  & > main {
    max-width: 1200px;
    margin: 0 auto;
  }
}
